# Telegram Notification
TELEGRAM_CHAT_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Jmeter Run Command
JMETER_RUN_COMMAND=/app/apache-jmeter-5.1.1/bin/jmeter

# Jmeter Master
MASTER_HOST=jmeter-master
MASTER_USERNAME=user_master
MASTER_PASSWORD=password_master
MASTER_PORT=22

# Jmeter Slave
SLAVE_HOST=jmeter-slave
SLAVE_USERNAME=user_slave
SLAVE_PASSWORD=password_slave
SLAVE_PORT=22

# Influxdb Host
INFLUX_HOST=influxdb

# Database
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=typhoon
DATABASE_POOL=5
