<header class="sticky-top">
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Typhoon</span>
  </nav>
  <div class="slave-server-status online fixed-top text-white text-right mr-2">
    Slave Server Status: <%= octicon "primitive-dot", height: 32, color: "00ff00" %>
  </div>
</header>
